PORT=3000
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/<db_name>
JWT_SECRET=change_me
EMAIL_USER=example@gmail.com
EMAIL_PASS=gmail_app_password
CLOUDINARY_CLOUD_NAME=cloud_name
CLOUDINARY_API_KEY=cloudinary_api_key
CLOUDINARY_API_SECRET=cloudinary_api_secret
CORS_ORIGIN=https://your-frontend-site.netlify.app
